<!DOCTYPE html>
<html>
    <head>
        <title>Sinatra Views Lab II/date</title>
    </head>
    <body>
        <h1>
         <p>The date is <%= Date.today.strftime("%A, %B %d, %Y") %></p>
        </h1>
    </body>
</html>