<!DOCTYPE html>
<html>
    <head>
        <title></title>
    </head>
    <body>
       <h1>Today</h1>
          <% time=Time.new%><% d=time.strftime("%A, %B %d, %Y")%><p>The date is <%= d %></p>
    </body>
</html>