<DOCTYPE html>

  <html>
  <body>
    <h1>Today</h1>
      <p>
         <!-- The date is -->
        <% date=Date.new %>
        <% puts 'The date is' + date.inspect %>
        <!-- Thursday, April 02, 2020 -->
      </p>

  </body>
  </html>
