
<!DOCTYPE html>
<html>
  <head>
    <title>Today</title>
  </head>
  <body>
    <h1>Today</h1>
    <% d = Date.today %>
    <p><%= "The date is " + d.strftime("%A") + ", " + d.strftime("%B %d") + ", " + d.strftime("%Y")%></p>
  </body>
</html>