<!DOCTYPE html>
<html>

    <h1>Today</h1>

       The date is <%= Date.today.strftime("%A") %>, <%= Date.today.strftime("%B") %> <%= Date.today.strftime("%d").to_i %>, <%= year = Date.today.strftime("%Y") %>

</html>



