<!DOCTYPE html>
<html>
    <head>
    <h1>Today</h1>
    </head>
    <body
    <p>The date is <%= Date.today.strftime("%A, %B %d, %Y") %></p> #The syntax to display the current date
    </body>
</html>