<!DOCTYPE html>
<% name = "Joe"%>
<html>
    <head>
        <title>Today</title>
    </head>
    <body>
        <%time1 = Time.new%>
        <h1>The date is <%= time1.strftime("%A, %B %d, %Y") %></h1>
    </body>
</html>
