<!DOCTYPE html>
<html>
<head>
  <title>Chris Bowl</title>

</head>

<body>
  <h1>Today</h1>

  <%d = Date.parse('25th Nov 2019')%>

   <p><%= "The date is #{d.strftime('%a')}day, #{d.strftime('%B')} #{d.strftime('%-d')}, #{d.strftime('%Y')}" %></p>




  </body>
</html>
