<!DOCTYPE html>
<html>
    <head>
        <title>Date</title>
    </head>
    <body>
        <h1>Today</h1>

        <% now = DateTime.now %>
        <p>The date is <%= now.strftime('%A') %>, <%= now.strftime('%B') %> <%= now.strftime('%d') %>, <%= now.strftime('%Y') %></p>

    </body>
</html>