<!DOCTYPE html>
<html>
  <head>
    
  </head>
  
  <body>
    <h1>Today</h1>
    <% weekday = DateTime.now.wday %>
    <% day = DateTime.now.day %>
    <% month = DateTime.now.month %>
    <% year = DateTime.now.year %>
    
    <% if weekday == 1 %>
      <% weekday = "Monday" %>
    <% elsif weekday == 2 %>
      <% weekday = "Tuesday" %>
    <% elsif weekday == 3 %>
      <% weekday = "Wednesday" %>
    <% elsif weekday == 4 %>
      <% weekday = "Thursday" %>
    <% elsif weekday == 5 %>
      <% weekday = "Friday" %>
    <% elsif weekday == 6 %>
      <% weekday = "Saturday" %>
    <% else %>
      <% weekday = "Sunday" %>
    <% end %>
    
    <% if month == 1 %>
      <% month = "January" %>
    <% elsif month == 2 %>
      <% month = "February" %>
    <% elsif month == 3 %>
      <% month = "March" %>
    <% elsif month == 4 %>
      <% month = "April" %>
    <% elsif month == 5 %>
      <% month = "May" %>
    <% elsif month == 6 %>
      <% month = "June" %>
    <% elsif month == 7 %>
      <% month = "July" %>
    <% elsif month == 8 %>
      <% month = "August" %>
    <% elsif month == 9 %>
      <% month = "September" %>
    <% elsif month == 10 %>
      <% month = "October" %>
    <% elsif month == 11 %>
      <% month = "November" %>
    <% else %>
      <% month = "December" %>
    <% end %>
    
    <p>The date is <%= weekday %>, <%= month %> <%= day %>, <%= year %></p>
  </body>
</html>