<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <h1>Today</h1>
    <% date = DateTime.now
       string = date.strftime(format="%A, %B %e, %Y") %>
    <p>The date is <%= string%></p>
   
  </body>


</html>