<!DOCTYPE html>
<html>
    <head>
        <title>Sinatra Views Lab II</title>
    </head>
    <body>
        <%time = Time.new%>
        <%today = time.strftime("%A, %B %d, %Y")%>
        <h1>The date is <%=today%></h1>

    </body>
</html>