

<h1>Today</h1>
<p> The date is <%= Date.today.strftime("%A, %B %d, %Y") %></p>
#The directives begin with a percent (%) character.
# %Y - Year with century
# %B - The full month name (``January'')
# %A - The full weekday name (``Sunday'')
# %d - Day of the month
#https://apidock.com/ruby/DateTime/strftime
