require 'pry'
require 'DateTime'

<!DOCTYPE HTML>
<html>
  <head></head>
  <body>
  <%= "The date is #{DateTime.now.strftime("%A")}, #{DateTime.now.strftime("%B")} #{DateTime.now.day}, #{DateTime.now.year}" %>
  </body>

</html>
