<!DOCTYPE html>
<html>
    <head>
        <title>Goodbye</title>
    </head>
    <body>
      <ul>
        <% index_items = ["See our Sponsors", "About us", "Contact us", "Joe"]%>
        <% index_items.each {|item| %> <li> <%=item%> </li> <%}%>
      </ul>
      <p>Goodbye <%=index_items.last%></p>
    </body>
</html>
