<!DOCTYPE html>
<html lang="en-US">
    <head>
        <title>Bad Beatles Song</title>
        <meta charset="utf-8">
    </head>

    <body>
        <h1>Index Page</h1>
        <p><a href="/hello">Hello Page</a></p>
        <p><a href="/goodbye">Goodbye Page</a></p>
        <p><a href="/date">Date Page</a></p>
    </body>
</html>