<!DOCTYPE html>
<html>
    <head>
        <title>Index Page</title>
    </head>
    <body>
      <ul>
        <% index_items = ["Intro", "About us", "Contact us"]%>
        <% index_items.each {|item| %> <li> <%=item%> </li> <%}%>
      </ul>
    </body>
</html>
